@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #22151f;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(200 187 171);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #472f26;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8835d;
  cursor: pointer;
}